<!DOCTYPE html>
<html>
<head>
    <title>EngliSQL - English to SQL Converter</title>
</head>
<body>
    <h1>Welcome to EngliSQL</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="schema">SQL Dialect:</label>
        <select name="schema" id="schema">
            <option value="MySQL">MySQL</option>
            <option value="SQLite">SQLite</option>
            <option value="PostgreSQL">PostgreSQL</option>
        </select><br><br>

        <label for="user_schema">Optional: Paste your table & Column Schema</label>
        <textarea name="user_schema" id="user_schema" rows ="3", cols="60" placeholder="e.g. Table: users(id, name, email)"></textarea><br><br>

        <label for="english_query">Enter your English query:</label><br>
        <textarea name="english_query" id="english_query" rows="5" cols="60" required placeholder="e.g. Show me all users with email ending in '@example.com'"></textarea><br><br>

        <button type="submit">Convert to SQL</button>
        

    </form>
    {% if sql_query %}
        <h2>Generated SQL Query:</h2>
        <pre>{{ sql_query }}</pre>
    {% endif %}

    {% if error %}
        <h2>Error:</h2>
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>